.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 90vh;
    width: 60vw;
    gap: 2em;
}

.home-container-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.home-container-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    gap: 1em;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.home-container-tasks::-webkit-scrollbar {
    width: 0.5em;
}

.fixed-button {
    position: fixed;
    bottom: 1em;
    right: center;
    background-color: var(--color-primary);
}
.fixed-button:hover {
    content: '';
    background-color: var(--color-on-hover);
}

.fixed-button:focus {
    outline: none;
}


.task_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1440px) {
    .home-container {
        width: 90vw;
    }
    
}

@media screen and (max-width: 768px) {
    .home-container {
        width: 95vw;
    }

    .home-container-search {
        gap: 15px;
    }
}

@media screen and (max-width: 425px) {
    .home-container-search {
        flex-direction: column-reverse;
        gap: 15px;
    }

   
}